/* style.css */

/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Container Styles */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #D5FE77; ;
}

.signup-content {
  max-width: 400px;
  width: 100%;
  background-color:#F0F0F0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

/* Form Styles */
.signup-form {
  padding: 20px;
}

.signup-form .text-center {
  margin-bottom: 20px;
}

/* Social Login Styles */
.social-login {
  margin-bottom: 20px;
}

.social-login .google-btn {
  /* margin-bottom: 20px; */
  background-color: #4285f4;
  color: #ffffff;
  border: none;
}

.social-login .google-btn:hover {
  background-color: #3f76e0;
}

/* Or Divider Styles */
.or-divider {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.or-divider .border-line {
  flex: 1;
  border-top: 1px solid #e0e0e0;
}

.or-divider .or-text {
  margin: 0 10px;
  color: #a0a0a0;
  font-size: 14px;
}

/* Sign In Link Styles */
.signin-link {
  font-weight: 600;
  color: #000;
}

.signin-link:hover {
  text-decoration: underline;
}

/* Override Ant Design Button Styles */
.ant-btn.ant-btn-primary.ant-btn-block {
  background-color: #39F077;
  color: white;
  border: none;
}

.ant-btn.ant-btn-primary.ant-btn-block:hover {
  background-color: #39F077;
}
